body {
    height: 100vh;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container {
    background-color: white;
    padding: .5em 1.5em;
    max-width: 50%;
    border-radius: 1em;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.855);
}

div label {
    display: flex;
}

.submit {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#fe5136, #d33f3d);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-size: 18px;
  height: 45px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.submit:active {
  outline: 0;
}

.submit:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}